- if current_user?(@person)
  = render :partial => "people/edit_profile_button"
  = link_to image_tag("https://s3-us-west-2.amazonaws.com/chic-sharetribe/images/blue-on-light.png"), person_omniauth_authorize_path(:stripe_connect)
- else
  %a.profile-contact-link{href: new_person_person_message_path(@person)}
    .content
      = t("people.show.contact", :person => @person.given_name_or_username)
      
- if @current_community.follow_in_use? && @current_user && !current_user?(@person)
  = render :partial => "follow_button", :locals => { :person => @person }
